*{
	margin:0;
	padding:0;
	color:white;
}
body{
	background-color:#14bdac;
	padding-top:5px;
	background:url("../imgs/simple.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

header{
	text-align:center;
	font-size:50px;
	font-weight:bold;
   
	font-family:"Comic Sans MS, cursive, sans-serif";	
	margin:0 auto;
	margin-bottom:20px;
	color: #F44336;
	
}
.container{
	max-width:900px;
	height:100%;
	margin:0 auto;
	box-sizing:border-box;
	width:80%;
}
.board{
	height:399px;
	width:399px;
	margin:0 auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	//background: rgb(0, 128, 104);

}
.cell{
	height:133px;
	width:133px;
	border:2px solid blue;
	box-sizing:border-box;
	text-align:center;
	font-family:"Arial Narrow";
	font-weight:bold;
	font-size:70px;

	cursor:pointer;

}
.control {
    font-family: "Arial Narrow";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top:5px;
}
div[data-index="0"],div[data-index="3"],div[data-index="6"]{
	border-left:2px solid transparent;
}

div[data-index="0"],div[data-index="1"],div[data-index="2"]{
	border-top:2px solid transparent;
}
div[data-index="2"],div[data-index="5"],div[data-index="8"]{
	border-right:2px solid transparent;
}

div[data-index="6"],div[data-index="7"],div[data-index="8"]{
	border-bottom:2px solid transparent;
}

.difficulty{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-left:25%;
}
.level,.re-start {
    margin: 0 15px;
    color: #F44336;
    cursor: pointer;
    color:white;
}

.not-selected,.re-start{
	opacity:0.5;
}
.not-selected:hover,.re-start:hover{
	opacity:1;
	color:green;
}


.re-start {
    //margin-top: 5px;
    width: 100px;
    height: 100px;
    background-color: #87CEFA;
   line-height: 100px;
    text-align: center;
  //  border-radius: 100px;
    //-webkit-border-radius:50px;
    //-moz-border-radius:50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    opacity:0.5;
    background:transparent;
}

.start:hover {
    opacity:1;
}

.ingame {
    display:none;
    color:lightskyblue;
}

@media screen and (max-width:720px){

	header{
		font-size:32px;
	}
	
	.board{
		height:372px;
		width:372px;
	}	
	.cell{
		height:124px;
		width:124px;
	}
	.difficulty{
		font-size:35px;
	}
}